* {
    padding: 0;
    margin: 0;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: rgb(112, 111, 111);
    font-size: 16.5px;
}

h1,
h2,
h3 {
    text-align: center;
}

h1 {
    color: rgb(63 153 160);
    font-size: 65px;
    line-height: 70px;
    margin-bottom: 5px;
}

h2,
.bold-dark {
    font-size: 26px;
}

h3 {
    font-size: 19.5px;
    font-weight: bold;
    transform: scaleX(1.01);
    letter-spacing: 0.4px;
}

section {
    margin-bottom: 25px;
}

.bold-dark {
    font-weight: 600;
}

main {
    margin: 30px auto;
    width: 440px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.pacifico-regular {
    font-family: "Pacifico", cursive;
    font-weight: 400;
    font-style: normal;
}

.checkbox-round {
    width: 1.3em;
    height: 1.3em;
    background-color: white;
    border-radius: 50%;
    vertical-align: middle;
    border: 1px solid #ddd;
    appearance: none;
    -webkit-appearance: none;
    outline: none;
    cursor: pointer;
    font-size: 17.5px;

}

.checkbox-round:checked {
    background-color: gray;
}

.user-info {
    background-color: rgb(236 236 231);
    display: flex;
    flex-direction: column;
    gap: 2px;
    padding: 10px 16.5px;
    border-radius: 10px;
    margin: 8px 0px 16px 0px;
    font-size: 17px;
}

input,
textarea {
    color: black;
    border-style: none;
    background-color: rgb(236 236 231);

}

textarea {
    resize: none;
    field-sizing: content;
    border-radius: 5px;
    width: 100%;
}

.quest-checkbox {
    margin-top: 15px;
    display: flex;
    align-items: start;
    justify-content: space-between;
    font-size: 17.5px;
}

.cl-boxes {
    display: flex;
    flex-direction: column;
}

.cl-boxes label {
    margin: 5px 0px;
}

.cl-boxes input {
    border: 1px solid rgb(116, 115, 115);
    margin-right: 5px;
}


.facilitadores-field {
    display: flex;
    gap: 5px;
}